@mixin formbox {
  width: 30em;
  height: 3em;
}


.f-search-box {
  width: 21em;
  height: 3em;
  border: 1px solid black;
}

input.f-search-box {
  background-color: white;
}

.f-search {
  float: right;
  position: relative;
  bottom: 0.5em;
  right: 0.05em;
}

.m-msgform {
  text-align: center;
  clear: right;
}


input.form-box {
  margin: .50em;
}

.form-box {
  @include formbox;
  border: 1px solid black;
}

.m-program-level {
  @include formbox;
}

