
.l-header-box {
  height: 12em;
  background: #0e0505;
}

.l-main-header {
text-align: center;
position: relative;
bottom: 4em;
}

.l-footer-box {
text-align: center;
border-top: 2px solid #666;
margin-bottom: 1.3333333em;
margin-top: 5em;
padding: 1.333333em 0;
}

.l-footer {
text-align: center;
position: relative;
bottom: 2em;
}



