
//less than 980
@media screen and (max-width: 980px) {

img.elephant {
  width: 100%;
 }

}





//less than 700px
@media screen and (max-width: 700px) {

img.elephant {
  width: 100%;
 }

}


//less than 480
@media screen and (max-width: 480px) {

img.elephant {
  width: 100%;
 }

}


//less than 320
@media screen and (max-width: 320px) {

img.elephant {
  width: 100%;
 }

}

