// web fonts
@import url("http://fonts.googleapis.com/css?family=Oswald");

$base-family: 'Oswald', sans-serif;

.l-main-header {
  color: white;
  font-family: $base-family;
  font-size: 2.75em;
}


.m-bootcamp-menu {
  font-family: Futura;
  font-size: 1em;
  h1 {
    font-size: 3em;
  }
}

.m-about > h1 {
  font-size: 3em;
  font-family: Futura;
  font-weight: 400;
}

.m-about > p {
  font-size: 1.5em;
}



.l-footer {
  font-family: $base-family;
  font-size: 2em;
}

.m-msgform {
  font-family: Futura;
  font-size: 1.5em;
}

.m-msgform h1 {
  font-size: 1em;
}









