@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?bg0ko7');
	src:url('/fonts/icomoon.eot?#iefixbg0ko7') format('embedded-opentype'),
		url('/fonts/icomoon.woff?bg0ko7') format('woff'),
		url('/fonts/icomoon.ttf?bg0ko7') format('truetype'),
		url('/fonts/icomoon.svg?bg0ko7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-google-plus:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}

	.v-icons li {
		position: relative;
		top: 0.5em;
		display: inline;
		padding: 0.5em;
  a {
  	text-decoration: none;
  	&:hover {
  		color: black;
  	}
  }
}
