doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title  Ardon Bailey
    link(rel="stylesheet" type="text/css" href="stylesheets/application.css")
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    .l-header-box
    header.l-main-header
      h1 Code Fellows
      h2 Learn to Code
      aside
        form.f-search
            input.f-search-box(type="search" placeholder="What you lookin for?")
    section.m-bootcamp-menu
      h1 What bootcamp is for you?
      ul
      li
        a(href='#') Ruby on Rails
      li
        a(href='#') JavaScript
      li
        a(href='#') iOS
      li
        a(href='#') UX Engineering
    .m-about-container
    section.m-about
      h1 Some Dummy Text
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    section.m-msgform
      h1 MESSAGE US
      form.f-msg-box
        ul
          li
            input.name-box.form-box(name='first_name', placeholder='First Name')
          li
            input.email-box.form-box(name='email', placeholder='Email Address')
          li
            input.phone-box.form-box(type="tel", name='tel', placeholder='(555) 555-555')
          li
            input.m-program-box.form-box(type='text', list='program-level')
            datalist
            option(value='Novice')
            option(value='Ehh ok')
            option(value='Coding Ninja')
          li
            input.message-box.form-box(name='text', placeholder='What the hell you tryin to tell me?')
          li
            input.b-msg-submit(type="submit" value="Submit")
    .l-footer-box
    footer.l-footer
      section
    script (src="//localhost:35729/livereload.js")
